.buttons {
  margin: 20px 0 40px;
  display: flex;
  gap: 20px;
}

.btn {
  width: 100px;
  padding: 5px 0;
  background-color: rgb(155, 131, 103);
  border: none;
  border-radius: 1rem;
  color: white;
  font-weight: 900;
  font-size: 1rem;
}

.btn:hover {
  background-color: rgb(116, 98, 79);
  cursor: pointer;
}

.btn:active {
  box-shadow: 9px 2px 90px -26px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 9px 2px 90px -26px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 9px 2px 90px -26px rgba(0, 0, 0, 0.75) inset;
}
